<div class="home-container">

  <div class="row justify-content-center">

    <div class="col-md-5">

      <div class="header-posts d-flex align-items-center justify-content-between">
        <%= link_to root_path do %>
          <%= image_tag("weirdwiz.png", width: '25%')%>
        <% end %>
        <h5>a blog about art, creativity, tech, books and consciouness</h5>
      </div>


        <% @posts.each_with_index do |post, index| %>
          <%= link_to post_path(post) do %>
            <div class="post-preview <%= 'older-post-preview' if index > 2 %>">

                <h3><%= post.title %></h3>
                <p><%= post.first_paragraph %></p>
            </div>
          <% end %>
        <% end %>
      </div>

    <div class="col-md-3">

      <div class="bio">
        <%= image_tag("pixelnovo2.png", width: '50%')%>
        <h3>Daniel Lameira</h3>
        <p html lang="pt">Sou um editor e pesquisador sobre tecnologia, arte e criatividade. Pai de um menino maravilhoso, fundador da Antofágica e da Seiva, editei muitos livros (que você pode ver <strong>aqui</strong>). Criei este blog para poder registrar algumas mudanças, pensamentos e indicações de conteúdos que gosto.</p>
      </div>

      <div class="drop-container">
        <% @drops.each_slice(2) do |drop_group| %>
          <% drop_group.each do |drop| %>
            <%= link_to drop_path(drop) do %>
            <div class="drop-preview">
              <h3><%= drop.title %></h3>
              <p><%= drop.first_sentence %></p>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
