
          <h1>Create a new post</h1>
            <%= simple_form_for(@post) do |f| %>
              <%= f.input :title %>
              <%= f.input :callout %>
              <%= f.input :content %>
              <%= f.submit %>
            <% end %>
