<h1><%= @post.title %></h1>

<p><%= @post.content %></p>



<h2>Comments</h2>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.content %>
    </li>
  <% end %>
</ul>

<% if @user.admin? %>
  <%= link_to edit_post_path(@post) do %>
    <i class="fa-solid fa-pen-to-square fa-xs"> Edit</i>
  <% end %>
  <br>
  <%= link_to post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-trash-can fa-xs"> Delete</i>
  <% end %>
<% end %>

<%= link_to "Back", posts_path %>
